<!-- <div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Recipie</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <app-recipie-item *ngFor="let recipieComp of recipies; let i of index" [recipie]="recipieComp"
            (recipieSelect)="onRecipieSelected(recipieComp)"></app-recipie-item>
    </div>
</div> -->

<!-- After Using service -->

<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Recipie</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <app-recipie-item *ngFor="let recipieComp of recipies; let i of index" [recipie]="recipieComp"></app-recipie-item>
    </div>
</div>